apiVersion: v1
kind: Secret
metadata:
  name: grafana-smtp-secret
  namespace: monitoring
type: kubernetes.io/basic-auth
stringData:
  host: {{ grafana_smtp_host }}
  password: {{ grafana_smtp_password }}
  from-address: {{ grafana_smtp_from_address }}
  ehlo-identity: {{ grafana_smtp_ehlo_identity }}
